Repository trifectatechfoundation/sudo-rs, pull requests merged in 2025-04, with the labels that each got.

#1066 Fix sudoers path on FreeBSD
  src/sudo/mod.rs
  src/sudo/pipeline.rs
  src/visudo/mod.rs
Labels: freebsd, external-packaging

#1062 su, sudo: Check the user didn't change during PAM transaction
  src/pam/error.rs
  src/pam/mod.rs
  src/su/mod.rs
  src/sudo/pam.rs
  src/sudo/pipeline.rs
Labels: C-pam

#1067 add apparmor support in parser
  Cargo.toml
  src/sudoers/ast.rs
  src/sudoers/policy.rs
  src/sudoers/test/mod.rs
Labels: C-parser, ubuntu

#1079 Fix the compliance tests on Ubuntu
  build.rs
  test-framework/sudo-compliance-tests/src/sudo/pam/env.rs
  test-framework/sudo-test/src/lib.rs
  test-framework/sudo-test/src/ours.linux.Dockerfile
  test-framework/sudo-test/src/theirs.linux.Dockerfile
Labels: test-framework, ubuntu

#1082 Fix a couple of asserts that can't trigger with sudo-rs
  test-framework/sudo-compliance-tests/src/sudo/flag_list/nopasswd.rs
Labels: test-framework

#1065 Allow '@' signs in user names
  src/sudoers/ast.rs
  src/sudoers/basic_parser.rs
  src/sudoers/char_stream.rs
  src/sudoers/mod.rs
  src/sudoers/test/mod.rs
  src/sudoers/tokens.rs
Labels: C-parser
